@charset "utf-8";
@import "~bulma/bulma";

//Colours
$color-primary: white;
$color-orangebnz: #faa819;
$color-verylightblue: #84d2f6;
$color-lightblue: #59a5d8;
$color-mediumblue: #386fa4;
$color-darkblue: #133c55;

//Media Queries

$screen-sm: 48rem;
$screen-md: 64rem;
$screen-lg: 90rem;
$screen-xl: 100rem;

@mixin tablet {
  @media (min-width: #{$screen-sm}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}

@mixin desktop-large {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}

@mixin desktop-xlarge {
  @media (min-width: #{$screen-xl}) {
    @content;
  }
}

body,
html {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  background-color: $color-lightblue;
  font-size: 16px;
}

.card-form {
  height: 100vh;
  width: 100vh;
  background-color: $color-lightblue;
}
